# Example of .env file
# 
# Copy this file content to .env and fill in the values
# This file is used as example and should not be used in production

# URL of the website
NEXT_PUBLIC_SITE_URL="https://example.com"

# API URL
NEXT_PUBLIC_API_URL="https://api.example.com"